#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
#  ~/.gitconfig
#
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  HELPERS
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Revert by range
#
#  @description Revert to previous commits range
#  @variable X = range to revert
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  $ git revert HEAD~X..HEAD

[user]
  email = jgcorradi@gmail.com
  name = Julio Gori Corradi

[credential]
  username = juliogc

[alias]
  undopush = push -f origin HEAD^:master
  undocommit = reset --hard HEAD@{1} # undo merges too
  unchanged = git update-index --assume-unchanged
  lg = log --graph  --pretty=format:'%C(bold red)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --abbrev-commit --date=relative
  # purge = !"git branch -d $(git branch --merged main | grep -v -e '*' -e 'main')"
  purge = !"git branch -d $(git branch | grep -v -e '*' -e 'main')"
  show-files = "!f() { git show --name-only --pretty=\"%C(bold green)%B\" | sed \"/^$/d\" | tail -n +2; }; f"
  list-commits = !git shortlog -s -n

[core]
  editor = nvim
  excludesfile = /Users/juliocorradi/.gitignore
  whitespace = space-before-tab,indent-with-non-tab,trailing-space

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto

[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true
  summary = true

# Use 'origin' as the default remote on the 'master' branch in all cases
[branch "master"]
  remote = origin
  merge = refs/heads/master
  push = HEAD

[pager]
  branch = false

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
